@import '../css/normalize.css';
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Play:400,700|Roboto:400,700,900&display=swap');
@import './mixin.scss';
@import './responsive.scss';
// font-family: 'Play', sans-serif;
// font-family: 'Roboto', sans-serif;

/* ----------- All Variable ----------- */
$headingFont:'Roboto',
sans-serif;
$body:'Play',
sans-serif;
$red:#FF0000;
$white:#ffffff;
$black-light:#222;

/* ----------- End  All Variable ----------- */
/* ----------- Common css----------- */
body {
  margin: 0;
  padding: 0;
  background: #fff;
}

h1 {
  font-size: 60px;
}

h2 {

  font-size: 50px;
}

h3 {}

h4 {}

h5 {}

h6 {}

.firstWord {
  color: $red;
}

section {
  padding: 80px 0;
}

.section-title {
  .title {
    h2 {}
  }
}

.container {
  max-width: 1400px;
}

.red-text {
  color: $red !important;
}

.active {
  color: $red !important;
}

#mainMenu {
    position: absolute;
    top: 0;
    width: 100%;
    right: 0;
    padding: 35px 0;
    @include transition(all 0.3s ease-out);
  &.sticky-header {
    position: fixed;
    padding: 8px 0;
    background: #221f1f;
    z-index: 999;
    @include transition(all 0.3s ease);
  }
  .navbar-brand {
    color: $white;
  }

  .nav-item {
    padding: 0 10px;

    .nav-link {
      color: $white;
      font-weight: 400;
      font-size: 20px;
    }
  }

}

.banner {
  &.middle-content {
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 627px;
  }
}

/* ----------- End Common css----------- */

/* ----------- Home Page css----------- */
.home {
  #mainMenu {
    background-color: transparent;
  }

  .intro {
    padding: 0;

    .background-cover {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;

    }

    video,
    .background-cover {
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      object-fit: cover;
      object-position: center;
    }

    .middle-content {
      display: flex;
      align-items: center;
      justify-content: left;
      min-height: 100vh;
    }

    .inroText {
      h1 {
        font-family: $headingFont;
        margin: 0 0 10px 0;
        font-size: 70px;
        padding: 0;
        text-transform: capitalize;
        font-weight: bold;
        color: #fff;
        line-height: 100px;
      }
    }
  }

}

/* ----------- End Home page css----------- */
.service {}


/* ----------- Career page  css----------- */
.career {
  #mainMenu {}

  .career-position {
    .accordion {
      .card-header {
        padding: 0;

        h2 {
          line-height: 0;
        }
      }

      button {
        padding: 20px 15px;
        border: none;
        width: 100%;
        text-align: left;

        svg {
          @include transform(rotate(0deg));
          @include transition(all 0.3s ease-in-out);
          float: right;
        }
      }

      button[aria-expanded="true"] {
        svg {
          @include transform(rotate(180deg));
        }

      }
    }
  }
}

/* ----------- End Career page css ----------- */

/* ----------- About page css----------- */
.about {
  #mainMenu {}
}

/* ----------- End About page css----------- */


/* ----------- Blog page css----------- */
#blogBanner{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* ----------- End Blog page css----------- */

/* ----------- Footer css----------- */
footer {
  padding: 80px 0;
  background: $black-light;
  color: #fff;
}

/* ----------- End Footer css----------- */